<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
{% include "./header.html" %}
<div class="container-fluid">
    <div class="row">
        {% include "./patern.html" %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <h1 class="mt-5">Полезная информация</h1>
            <ol>
                <li><p>Для начала Вам необходимо загрузить хотя бы один файл расширения .py (нажмите «Загрузите новый файл»).</p></li>
                <li><p>Загруженный вами файл сразу же появится в левом меню.</p>
                    <p>-- Обратите внимание,
                        при загрузке существующего файла его содержимое перезаписывается, а его версия увеличивается на 1
                    </p>
                </li>
                <li><p>Теперь у Вас есть возможность перейти к этому файлу для проведения тестов.</p></li>
                <li><p>На странице тестов вы найдете информацию о файле, такую ​​как: имя, версия, выполненные тесты и ошибки в них.</p>
                </li>
                <li><p>Также внутри одного теста вы можете просмотреть информацию о различных ошибках, нажав соответствующую кнопку</p>
                </li>
                <li><p>Во вкладке отчетов вы можете скачать отчеты для тех файлов, где тесты проводились хотя бы один раз.</p>
                </li>
            </ol>
        </main>
    </div>
</div>
</body>
</html>